<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wardrobe</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/content/wardrobecss.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-fixed-top" id="universalnav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id="navbutton">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Wardrobe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> <a class="navlink" href="@Url.Action("Index", "Tops")">Tops</a></li>
                    <li> <a class="navlink" href="@Url.Action("Index", "Bottoms")">Bottoms</a></li>
                    <li> <a class="navlink" href="@Url.Action("Index", "Shoes")">Shoes</a></li>
                    <li> <a class="navlink" href="@Url.Action("Index", "Accessories")">Accessories</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        <hr />
        <footer id="universal-footer">
            <p>&copy; @DateTime.Now.Year - Wardrobe Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
