@model IEnumerable<WardrobeApp.Models.Accessory>

@{
    ViewBag.Title = "Wardrobe - Accessories";
}



<div class="container">

    <h2 class="red">All Accessories</h2>


    <div>
        <a class="glyphicon-index-link " href="@Url.Action("Create", "Accessories")">
            <i class="glyphicon glyphicon-plus"></i>
            New Accessory
        </a>
    </div>

    @*Replace EF with custom view*@

    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-4">

                <div class="index-infoholder">
                    <h3 class="index-name red">@Html.DisplayFor(modelItem => item.Name)</h3>

                    @*Render ActionLinks as glyphicons*@
                    <div class="icon-holder">

                        <a class="glyphicon-index-link" href="@Url.Action("Details", new { id = item.AccessoryID })">
                            <i class="glyphicon glyphicon-eye-open"></i>
                            <span class="sr-only">Details</span>
                        </a>

                        <a class="glyphicon-index-link" href="@Url.Action("Edit", new { id = item.AccessoryID })">
                            <i class="glyphicon glyphicon-pencil"></i>
                            <span class="sr-only">Edit</span>
                        </a>

                        <a class="glyphicon-index-link" href="@Url.Action("Delete", new { id = item.AccessoryID })">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span class="sr-only">Delete</span>
                        </a>
                    </div>
                    <img class="index-photo" src="@Url.Content("~/content/images/" + item.Photo)" />

                </div>
            </div>
        }
    </div>
</div>



@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Season)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occasion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccessoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccessoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccessoryID })
        </td>
    </tr>
}

</table>*@
